/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~materialize-css/dist/css/materialize.css';
@import '../../assets/styles/google-icon-font.css';
@import '~react-toastify/dist/ReactToastify.css';

.mt-1 {
    margin-top: 1rem;
}
.ms-1 {
    margin-left: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.ms-2 {
    margin-left: 2rem;
}

.results__table {
    display: flex;
    justify-content: center;
}

.results__table table {
    max-width: 90vw;
}

#Initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results_export_buttons {
    display: flex;
    justify-content: space-around;
}
